In [9]:
import pandas as pd
import numpy as np

df=pd.read_csv('credits.csv')
df1=pd.read_csv('titles.csv')

In [17]:
df.head(2)

   person_id       id            name      character   role
0       3748  tm84618  Robert De Niro  Travis Bickle  ACTOR
1      14658  tm84618    Jodie Foster  Iris Steensma  ACTOR

In [11]:
df.isnull().sum()

person_id       0
id              0
name            0
character    9772
role            0
dtype: int64

In [12]:
df.replace(np.nan,'unknown',inplace=True)

In [13]:
df.isnull().sum()

person_id    0
id           0
name         0
character    0
role         0
dtype: int64

In [16]:
df1.head(2)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,unknown,unknown,unknown,0.6,unknown
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],unknown,tt0075314,8.2,808582.0,40.965,8.179

In [8]:
df1.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

In [14]:
df1.replace(np.nan,'unknown',inplace=True)

In [15]:
df1.isnull().sum()

id                      0
title                   0
type                    0
description             0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
imdb_id                 0
imdb_score              0
imdb_votes              0
tmdb_popularity         0
tmdb_score              0
dtype: int64

In [27]:
dff=pd.concat([df1,df],axis=1)
dff.tail()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,id,name,character,role
77796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,736339,tm1059008,Adelaida Buscato,María Paz,ACTOR
77797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399499,tm1059008,Luz Stella Luengas,Karen Bayona,ACTOR
77798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373198,tm1059008,Inés Prieto,Fanny,ACTOR
77799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378132,tm1059008,Isabel Gaona,Cacica,ACTOR
77800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950416,tm1059008,Julian Gaviria,unknown,DIRECTOR

In [24]:
dff.shape

(77801, 20)

In [25]:
dff.isnull().sum()

id                      71951
title                   71951
type                    71951
description             71951
release_year            71951
age_certification       71951
runtime                 71951
genres                  71951
production_countries    71951
seasons                 71951
imdb_id                 71951
imdb_score              71951
imdb_votes              71951
tmdb_popularity         71951
tmdb_score              71951
person_id                   0
id                          0
name                        0
character                   0
role                        0
dtype: int64

In [28]:
dff.replace(np.nan,'unknown',inplace=True)

In [29]:
dff.to_csv('final.csv')